@page
@model IndexModel
@using League.Models
@{
    ViewData["Title"] = "Players";
}

<div>
    <form>
        <div>
            <label asp-for="SelectedTeam">Team: </label>
            <select asp-for="SelectedTeam" asp-items="Model.Teams" onchange="this.form.submit()">
                <option value="">All</option>
            </select>
        </div>
        <div>
            <label asp-for="SelectedPosition">Position: </label>
            <select asp-for="SelectedPosition" asp-items="Model.Positions" onchange="this.form.submit()">
                <option value="">All</option>
            </select>
        </div>
        <div>
            <label asp-for="SearchString">Name:</label>
            <input asp-for="SearchString" onchange="this.form.submit()" />
        </div>
    </form>
</div>


<section class="grid container">
  <div class="d-flex bg-primary text-white">
    <div class="p-1" style="flex:0 0 10%">Number</div>
    <div class="p-1" style="flex:0 0 25%">Name</div>
    <div class="p-1" style="flex:0 0 10%">Position</div>
    <div class="p-1" style="flex:0 0 20%">Experience</div>
    <div class="p-1" style="flex:0 0 25%">College</div>
    <div class="p-1" style="flex:0 0 10%">Depth</div>
  </div>

  @foreach (Player Player in Model.Players) {
    <a class="@Model.PlayerClass(Player)" asp-page="/Players/Player" asp-route-id="@Player.PlayerId">
      <div class="p-1" style="flex:0 0 10%">@Player.Number</div>
      <div class="p-1" style="flex:0 0 25%">@Player.Name</div>
      <div class="p-1" style="flex:0 0 10%">@Player.Position</div>
      <div class="p-1" style="flex:0 0 20%">@Player.Experience</div>
      <div class="p-1" style="flex:0 0 25%">@Player.College</div>
      <div class="p-1" style="flex:0 0 10%">@Player.Depth</div>
    </a>
  }
</section>